.nav {
    height: 50px;
    background: blue;
}

.nav div {
    display: inline-block;
    left: 10px;
    padding: 15px;
    position: absolute;
    font-size: 20px;
    color: white;
}

.nav ul {
    position: absolute;
    right: 20px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    color: white;
    padding: 10px;
}

.home {
   background-color: cornflowerblue;
    height: 100vh;
    background-size: cover;
    background-repeat:repeat;
    
}
.home .home-content{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.about .about-content{
    margin: 150px auto 0 auto;
    width: 500px;
}


.about .about-content h1{
    text-align: center;
    }

.about .about-content p{
    text-align: justify;
       
}
.services .services-content{
    margin: 80px auto 0 auto;
   text-align: center;
}


.services-content .card-container ul li{
    list-style: none;
    display:inline-block;
    margin: 20px;
    width: 300px
}

.services-content .card-container ul li p{
    text-align: center;
}
    
.services .services-content h1{
    font-family: 'Roboto', sans-serif;
    color:black;
}

.services-content .card-container ul li p{
    text-align: justify;
    font-family: 'Lato',sans-serif;
    color: black;

}

.contact .contact-content{
    margin: 80px auto 0 auto;
    text-align: center;
    
}

.contact .contact-content h1{
    text-align: center;
   }

   .contact .contact-content h1{
    font-family:'Times New Roman', Times, serif;
    color:black;
   }

.contact .contact-content .address-holder{
    font-family:'Times New Roman', Times, serif;

}